footer {
    width: 100%;
    background-color: var(--cl-secondary);

  }

  .footer-content {
      margin-top: 5em;
  }

  
  #ft1 img {
    width: 13em;
    margin: 10px;
  }
  

  
  .row-footer {
      padding-bottom: 0;
      padding-top: 2em;
      text-align: center;
  }

  #ft2{
      text-align: justify;
      color: white;
      text-decoration: none;
      font-weight: 300;
  }

  #ft2 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1.2em;
  }

  .gmap_canvas {
      padding-left: 0.2em;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #ft1 img, .gmap_canvas{
        display: none;
    }
    #ft2{
        width: 100%;
    }
    .mon1{
        display: none;
    }
    .mon2{
        width: 100%;
    }
    .mon3{
        display: none;
    }
  }