body {
    font-size: 1.2 rem;
}

.btn-group {
    font-size: 26px;
}

#equipo {
    background-color: rgba(231, 143, 43, 0.911);
}

.p {
    font-size: 20px;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: #646464;
    border-width: 7px;
    border-style: solid;
}

.big-quote {}

#footer {
    background-color: rgb(71, 90, 109);
}