* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.title {
    padding-left: 50px;
    color: black;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-warning{
   background-color:  rgb(255, 103, 8);
   color: white;
}



.btn-reserva {
    background-color:  rgb(255, 103, 8);
    position: fixed;
    margin-right: 80%;
    margin-left: 1rem;
    margin-top: 2rem;
    background: rgb(255, 103, 8);
    border-radius: 6px;
    color: white;
}
.scroll {
    height: 80vh; 
    overflow-y: scroll;
}