/* --------nosotros---------- */


/* .logo_nh {
    padding-top: 3rem;
    padding-left: 3rem;
}

.text_nav {
    font-weight: bolder;
}


#equipo {
    background-color: rgb(238, 238, 238);
    
}

.img_ppal {
    padding-top: 3rem;
}

.text_resena{
    margin-left: 20px;
    font-family:  'Poppins', sans-serif;
    font-weight: bolder;
    text-align: justify;
    font-size: 1em;
    
}

.pt-5 {
    font-weight: bold;
}


hr {
border: 2px solid #646464;
border-radius: 300px ;
height: 5px;
text-align: center;
}


.img-thumbnail__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: #646464;
    border-width: 7px;
    border-style: solid;
}


#footer {
    background-color: rgb(255, 94, 0);
}

.navbar-bran {
    text-decoration: none;
}

.list{
    margin-right: 10%;
    margin-top: 1rem;
}
.map {
    padding-left: 30px;
    padding-bottom: 50px;
}

.footer_contenido {
    padding-top: 3rem;
    padding-bottom: 5rem;
    justify-content: space-between
}

.carousel-item{
    margin-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 5rem;
}

.text-center{
    padding-left: 10rem;
}
.carousel-imagen {
    margin-top: 4rem;
    margin-left: 4rem;
} */

#intro{
    width: 90%;
    margin: auto;
    padding-top: 1em;
}
.text_resena {
    color: var(--cl-primary-shadow);
}

.carousel-itm {
    margin-top: 5rem;
    padding-left: 4rem;
    padding-bottom: 5rem;
}

.carousel-inner {
    background-color: #f8f7f6;
    margin-top: 0;
}

.img-thumbnail__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--cl-primary);
}
.fs-4,.fs-5 {
    color: var(--cl-primary);
}

.fs-4{
    font-weight: bold;
}
.fs-5{
    font-weight: 300;
}

hr {
    border: 2px solid #ffffff;
    border-radius: 300px ;
    height: 5px;
    text-align: center;
    }
    
.carousel-all {
    width: 60%;
    margin: auto;
}

.text-car {
    margin-top: 3em;
    color: var(--cl-primary-shadow);
    font-weight: 300;
    font-size: 1.1em;
    font-style: italic;
}

.img-fluid {
    width: 100%;
}

.col-8{
    padding-left: 5.2em;
}

.carousel-control-next {
    z-index: 1;
}

#equipo {
    background-color: var(--cl-tertiary);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .text-car {
        display: none;
    }
    .carousel-itm {
        padding-left: 0;
    }
    
  }